.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow-text{
color: #1f726e;
}

.yellow{
    background: #eaea18;
}

.blue-text{
    color: #ffe413;
}

.blue{
    background: #2e6eff;
}